.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: #222;
    padding: 0 20px;      
    height: 80px;         
    color: white;
}
ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;  
}
ul li {
    display: flex;
    align-items: center; 
}
ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
}
/* responsive */
@media (max-width: 768px) {
    .toggle {
        display: block;
    }
    ul {
        position: absolute;
        top: 60px;
        right: 0;
        background: #222;
        flex-direction: column;
        width: 200px;
        padding: 15px;
        display: none;
    }
    ul.open {
    display: flex;
}
}