body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(
        120deg,
        #b59078,
        #b59f8e,
        #fffaf3
    );
}


html,body{
    overscroll-behavior: none;
}

