/* HERO imagen */
.hero-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-radius: 2%;
}

.overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(0, 0, 0); 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.products {
    margin: 30px;
}
.h2 {
    font-size: 36px;
    margin-bottom: 10px;
}
/* contenedor cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

/* card */
.card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* imagen card */
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

/* contenido card */
.card-content {
    padding: 15px;
}